@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

section#hero {
  background-image: url('https://raw.githubusercontent.com/prazzdev/porttest/main/src/assets/image/hero2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

h1#hero, h3#hero {
  text-shadow: 2px 2px 4px #000;
}

section#Desc1 {
  background-image: url('https://raw.githubusercontent.com/prazzdev/porttest/main/src/assets/image/desc2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

section#Desc1 > div > div#Desc1Text,
section#Desc2 > div > div:nth-child(2) > div#Desc2Text,
section#Desc2 > div > div#Desc2Text > div > div:nth-child(1) {
  background-color: rgba(0, 173, 181, .7);
}

section#Desc1 > div > div, section#Desc2 > div > div {
  color: white;
  text-shadow: 2px 1px 3px #000;
  font-weight: lighter;
}

section#Desc1 > div > div > div > img#Desc1Img {
  filter: drop-shadow(10px 5px 28px #000)
}

section#Desc2 {
  background-image: url('https://raw.githubusercontent.com/prazzdev/porttest/main/src/assets/image/desc3.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
